        body {
            text-align: center;
            background-color: rgb(3, 3, 3);
        }
        nav{
            text-align: center;
            width: 100%;
            background-color: rgb(0, 0, 0);
            position: fixed;
        }
        nav a{
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 36, 0);
        }
        nav a :hover{
            color: mid;
        }
        
        #profile{
            background-image:url(../bg.jpg) ;
            background-repeat: no-repeat;
            background-size: 100%;
            padding: 50px;
            font-family: sans-serif;
            color: rgb(255, 0, 0);
        }
        #Pendidikan{
            text-align: center;
            display: inline-block;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);
        }
        #Keahlian{
            text-align: center;
            display: inline-block;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);
        }
        #Portofolio{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);
        }
        #about{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);
        }
        #gambar{
            margin: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);
        }
        .Margin.gambar{
            margin: 30px;
        }
        #contact{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(255, 0, 0);

            margin: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }